/* color palette - colors pulled from banner image
  Orange = #ac6404 rgb(172, 100, 4)- for buttons and read more links
  Blue = #566478 rgb(86, 100, 120)- for headlines >h3
  Beige = #DAD8D1 rgb(218, 216, 209) - general background color
  Dark Gray = #333333 rgb(51, 51, 51) - for body text and ≤h3
  Taupe = #84766d rgb(132, 118, 109) -
*/

html {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 400;
  font-style: italic;
}

header, footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

/* Header Desktop Styles */
header {
  width: 100%;
  background-color: rgba(86, 100, 120, 0.85);
  position: fixed;
  z-index: 1;
  height: 4rem;
}

header #logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  height: 2rem;
}

header #wordmark {
  text-transform: uppercase;
  font-size: 1.5rem;
}

nav {
  padding: 1rem;
}

nav ul li {
  padding: 0.5rem;
}

#desktop-nav {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#desktop-nav a {
  color: inherit;
  text-decoration: none;
}

#desktop-nav a:hover {
  color: #fff;
}

#mobile-nav {
  display: none;
}

/* Main Section Desktop Styles */
main {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: 4rem;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

h3 {
  font-size: 1.5rem;
  color: #566478;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

.img-60 {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  padding-right: 1.5rem;
}

.img-60 img, video {
  width: 100%;
  height: auto;
}

.feed {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  border-left: .0625rem solid #84766d;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  border-bottom: .0625rem solid #84766d;
}

.row:hover {
  background-color: rgba(86, 100, 120, 0.25);
}

.img-35 {
  width: 35%;
  padding: 1rem;
}

.img-35 img {
  width: 100%;
  height: auto;
}

.feed-text {
  width: 65%;
}

.feed-text h3 {
  padding-bottom: 0.5rem;
}

.section-title {
  color: #ac6404;
  font-size: 2.125rem;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 2rem;
}

/* Banner Section Desktop Styles */
#banner, #info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0 2rem 1.5rem;
}

#banner {
  background-color: rgba(218, 216, 209, 0.15);
}

.cta {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  justify-content: center;
  padding-left: 1rem;
}

.cta h1 {
  color: #566478;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  padding-bottom: 3rem;
  width: 75%;
}

.cta p {
  width: 75%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.btn {
  width: 75%;
  height: auto;
  font-size: 1.25rem;
  background-color: #ac6404;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  margin-top: 2rem;
}

.btn:hover {
  box-shadow: 5px 5px 10px #888888;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn a:hover {
  font-weight: 700;
}


/* Information Section Desktop Styles */
#info {
  background-color: #fff;
}
.cta-2 h2 {
  color: #566478;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  padding: 2rem 0 1.5rem 0;
  width: 100%;
}

.cta-2 p {
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 2rem;
}

#emanuel {
  font-size: .75rem;
  color: #84766d
}

#emanuel a {
  color: inherit;
  text-decoration: none;
}

.img-mobile {
  display: none;
}

.feed-text a {
  color: #566478;
  text-decoration: none;
}

.feed-text a:hover {
  color: #ac6404;
}


#lecture {
  border-bottom: none;
}


/* Courses Section Desktop Styles */
#courses {
  padding: 0 4.5rem 2rem 4.5rem;
  background-color: rgba(218, 216, 209, 0.15);
}

.row-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: inline-flex;
  flex-direction: column;
  width: 33%;
  justify-content: flex-start;
  margin: 1rem;
  background-color: #fff;
}

.card:hover {
  box-shadow: 5px 5px 10px #888888;
}

.card img {
  width: 100%;
  height: auto;
}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}

h5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  color: #84766d;
}

.course-des {
  line-height: 1.5rem;
}

/* Thesis Section Desktop Styles */
#thesis {
  background-color: #fff;
}

#thesis .img-60 {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

#thesis video {
  padding-bottom: 1.5rem;
}

.video-des h3 {
  padding-bottom: 0.5rem;
}

#now-then {
  border-bottom: none;
}


/* Footer Desktop Styles */
footer {
  position: relative;
  top: 64px;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-top: .0625rem solid #84766d;
  font-size: 0.75rem;
  color: #84766d;
  background-color: rgba(218, 216, 209, 0.15);
}

#footer-links a {
  color: inherit;
  text-decoration: none;
  padding-left: 0.5rem;
}
